#cal {
	color: #fff;
}
.themes {
	ul {
		margin: 50px auto;
		padding-left: 0;
		display: flex;
		justify-content: space-around;
		width: 50%;
		li {
			list-style: none;
			flex: 1;
			margin: 0 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 1.5rem;
			border: 1px solid #ccc;
			cursor: pointer;
		}
	}
}
.grid-container {
	display: grid;
	height: 450px;
	grid-template-columns: 1fr 400px 1fr;
	grid-template-rows: .5fr auto 1fr; 
	grid-template-areas: "top top top" "left content right" "bottom bottom bottom";
	overflow: hidden;
}
.top { grid-area: top; }
.left { grid-area: left; }
.content { grid-area: content; }
.bottom { grid-area: bottom; }
.right { grid-area: right; }
.cal {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	.day {
		position: relative;
		text-align: center;
		font-size: .75rem;
		padding: .3rem 0;
		user-select: none;
		border-width: 1px;
		border-style: solid;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			z-index: -1;
			outline: solid transparent 2px;
		}
		&:hover {
			&:after {
				outline-color: rgba(238,238,238,.4);
			}
		}
		&:active { background-color: rgba(238,238,238,.2); }
	}
}
.foo {
	color: rgba(238,238,238,.3);
}
.content {
	position: relative;
	z-index: 10;
}
.mask {
	position: relative;
	z-index: 10;
}
@mixin theme(
	$bg: #292c33,
) {
	background-color: $bg;
	.day {
		border-color: $bg;
		&:after {
			background: $bg;
		}
	}
	.mask {
		background: $bg;
	}
}
.theme-default {
	@include theme();
}
.theme-2 {
	@include theme(#bada55)
}